body {
  background: linear-gradient(236.85deg, #170432 27.26%, #5134a7 96.03%);
  font-family: "Gemunu Libre", sans-serif;
  color: #1c1c1c;
  overflow-y: scroll;
  scrollbar-width: thin;
}

header {
  display: flex;
  justify-content: space-between;
}

.caixa, .social {
  background: #f5ecff;
  box-shadow: 6px 6px 6px #1e0e2f;
  border-radius: 15px;
  display: flex;
  width: 940px;
  margin: 0 auto;
  width: 85%;
  padding: 30px;
  color: #1c1c1c;
}

.foto-perfil {
  border-radius: 460px;
  max-height: 160px;
  max-width: 160px;
  box-shadow: 3px 6px 6px #1e0e2f;
  margin: 10px;
}

.titulo-principal {
  margin-left: 16px;
  font-weight: bold;
  font-size: 40px;
}

.subtitulo {
  font-weight: normal;
  font-size: 20px;
  padding: 0 10px;
}

.tema button {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 18px;
  box-sizing: border-box;
  padding: 8px 16px;
  background: #ecf4ff;
  border-radius: 100px;
  border: 2px solid #0e1d2f;
  box-shadow: 3px 3px 3px #1e0e2f;
}

.social {
  display: flex;
  width: 940px;
  margin-top: 10px;
	padding: 18px 20px;
}

.social a {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

 .lista-tarefas, .tabela-classificacao, .supertrunfo, .aluraflix, .mentalista, .conversor {
  margin: 10px auto ;
  background: #f5ecff;
  box-shadow: 6px 6px 6px #1e0e2f;
  border-radius: 15px;
  width: 85%;
  
  padding: 40px;
  color: #1c1c1c;
    
}

.projetos {
 list-style-type: none; 
}

.dark {
  background: linear-gradient(230.65deg, #0d0630 27.49%, #250140 83.19%);
  box-shadow: 2px 2px 4px #f20000;
  border-radius: 20px;
}
.dark .caixa, .dark .social, .dark .lista-tarefas, .dark .tabela-classificacao, .dark .supertrunfo, .dark .aluraflix, .dark .mentalista, .dark .conversor  {
  background: #000000;
  box-shadow: 6px 6px 6px #f20000;
  border-radius: 20px;
  color: #f6f6f6;
  text-shadow: 6px 6px 6px #f20000;
}
.dark .portifolio {
  color: #1c1c1c;
}

.dark .foto-perfil {
  border-radius: 460px;
  max-height: 150px;
  max-width: 150px;
  box-shadow: 3px 6px 6px #f20000;
}

/*.dark .projetos {
  background: linear-gradient(230.65deg, #240b4f 27.49%, #3d0680 83.19%);
  box-shadow: 4px 6px 6px #f20000;
  border-radius: 15px;
}*/

.dark .tema button {
  background: #1c1c1c;
  border: 2px solid #f7f7f7;
  box-shadow: 4px 6px 6px #f20000;
  box-sizing: border-box;
  border-radius: 100px;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #1c1c1c;
  border: 1.8px solid #5d00ff;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6a00ff;
  border: 1.8px solid #ff0000;
}

::-webkit-scrollbar-track {
  background: #8b99ad;
  border-radius: 100px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
  margin: 15px 0px;
}